# Ignore all CSV files in the entire project
*.csv
*.xlsx

# Ignore all CSV files in the data/raw/NSVA_Data directory (already covered by the above rule)
!data/raw/NSVA_Data/NSVA_Data/*.csv

# Ignore all MP4 files in the entire project
*.mp4

# Ignore all TTS model and sounds WAV
*.wav
*.pth 

# Ignore other common files and directories
__pycache__/
.ipynb_checkpoints/
*.pyc
*.pyo
*.pyd
.DS_Store
.env
.venv
env/
venv/
.idea/
.vscode/
.pytest_cache/
.mypy_cache/
